html {
    --page-background-color: #191724;      /* base */
    --page-foreground-color: #e0def4;      /* text */
    --page-secondary-foreground-color: #908caa; /* subtle */
    --primary-color: #c4a7e7;              /* iris */
    --primary-dark-color: #eb6f92;         /* love */
    --primary-light-color: #9ccfd8;        /* foam */
    --fragment-background: #1f1d2e;        /* surface */
    --fragment-foreground: #e0def4;        /* text */
}
